0001011a                                                                SPELL.DIC                                                                                                                       SUPP.DIC                                                                                                                        LEARN.DIC                                                       